/* Global Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Wrapper Styles */
#wrapper {
    display: flex;
    flex: 1;
}

/* Sidebar Styles */
#sidebar-wrapper {
    width: 250px;
    flex-shrink: 0;
    background-color: #343a40;
}

.sidebar-heading {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #343a40;
    border-bottom: 1px solid #484848;
}

.list-group-item-action {
    padding: 10px 15px;
    color: white;
    border: none;
    border-bottom: 1px solid #484848;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item-action:hover {
    background-color: #b5bd44 !important;
    color: white !important;
}

/* Page Content Styles */
#page-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar Styles */
.navbar {
    height: 57px;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

/* Container Styles */
.container-fluid {
    flex: 1;
    padding: 20px;
}

.container {
    margin-top: 20px;
}

.greeting {
    text-align: center;
}

/* Footer Styles */
footer {
    background: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    padding: 10px;
    text-align: center;
    padding-left: 250px;
}

/* Button Styles */
.btn-primary {
    margin: 10px 0;
    background-color: #007bff;
    border: none;
    padding: 8px;
    font-size: 0.8em;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-logout {
    background-color: #dc3545;
    border: none;
    padding: 8px;
    font-size: 0.8em;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

/* Table Styles */
.table {
    margin-top: 20px;
    font-size: 14px;
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Stats Container Styles */
.stats-container {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

/* Narrow Container Styles */
.narrow-container {
    max-width: 560px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Card Styles */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1em; /* Smaller card headers */
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.25em; /* Smaller card titles */
}

/* Form Styles */
.form-group {
    margin-bottom: 8px;
    margin-bottom: 5px; /* Form Styling */
}

.form-control {
    width: 100%;
    padding: 6px;
    /* margin-top: 5px; */
    font-size: 0.8em;
}

/* Error Message Styles */
.text-danger {
    margin-top: 5px;
    font-size: 0.7em;
}

/* Custom Header Styles */
h1, h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1em;
}

/* Profile Picture Styling */
.img-thumbnail {
    margin: 0 auto;
    display: block;
}

/* Sidebar Item Icons */
.list-group-item-action i {
    margin-right: 10px;
}

/* Dashboard-specific Styles */
.dashboard-container {
    max-width: 90%;
    margin: 0 auto;
}

.card-body canvas {
    max-height: 250px; /* Make the charts smaller */
}

/* Recent Transactions */
.recent-transactions {
    max-height: 300px;
    overflow-y: auto;
}
