{% extends "base.html" %}

{% block content %}
<div class="container narrow-container">
    <h2>Login</h2>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="loginuname">Username:</label>
            <input type="text" class="form-control" id="loginuname" name="loginuname" required>
        </div>
        <div class="form-group">
            <label for="loginpassword1">Password:</label>
            <input type="password" class="form-control" id="loginpassword1" name="loginpassword1" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="{% url 'register' %}" class="btn btn-logout">Register</a>
</div>
{% endblock %}
