{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link rel="icon" type="image/x-icon" href="{% static 'icons/statistics.png' %}">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right d-flex flex-column" id="sidebar-wrapper">
            <div class="sidebar-heading text-white">Expense Tracker</div>
            <div class="list-group list-group-flush flex-grow-1">
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="{% url 'addmoney' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-plus"></i> Add Money
                </a>
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-user"></i> Profile
                </a>
                <a href="{% url 'stats' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-chart-line"></i> Stats
                </a>
                <a href="{% url 'charts' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-chart-pie"></i> Charts
                </a>
                <a href="{% url 'tables' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-table"></i> Tables
                </a>
                <a href="{% url 'weekly' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-calendar-week"></i> Weekly
                </a>
                <a href="{% url 'expense_month' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-calendar-alt"></i> Monthly
                </a>
                <a href="{% url 'info_year' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-calendar"></i> Yearly
                </a>
                <a href="{% url 'search' %}" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-search"></i> Search
                </a>
            </div>
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-danger text-white mt-auto">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" style="position: relative;">
            <!-- Spinner -->
    <div class="d-flex justify-content-center align-items-center" id="spinner" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5);">
        <img src="{% static 'images/loading.gif' %}" alt="Loading...">
    </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                {% comment %} <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> {% endcomment %}
                <div class="ml-auto">
                    {{ user.username }}
                </div>
            </nav>
            

            <!-- Display Messages -->
            {% if messages %}
                <div class="container mt-4">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
     <!-- Footer -->
    <footer>
        <p>Expense Tracker &copy; Made by Kirill Lazutin 2024</p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        // Get all forms on the page
    var forms = document.querySelectorAll('form');

    /// Add a submit event listener to each form
forms.forEach(function(form) {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Show the spinner when the form is submitted
        document.getElementById('spinner').style.display = 'flex';

        // Perform the AJAX request
        $.ajax({
            url: form.action,
            type: form.method,
            data: $(form).serialize(),
            success: function() {
                // Hide the spinner when the AJAX request is successful
                document.getElementById('spinner').style.display = 'none';
            },
            error: function() {
                // Hide the spinner if the AJAX request fails
                document.getElementById('spinner').style.display = 'none';
            }
        });
    });
});
    </script>
</body>
</html>
