{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Expense Tracker</div>
            <div class="list-group list-group-flush">
                {% comment %} <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-light">Home</a> {% endcomment %}
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="{% url 'addmoney' %}" class="list-group-item list-group-item-action bg-light">Add Money</a>
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="{% url 'stats' %}" class="list-group-item list-group-item-action bg-light">Stats</a>
                <a href="{% url 'charts' %}" class="list-group-item list-group-item-action bg-light">Charts</a>
                <a href="{% url 'tables' %}" class="list-group-item list-group-item-action bg-light">Tables</a>
                <a href="{% url 'weekly' %}" class="list-group-item list-group-item-action bg-light">Weekly</a>
                <a href="{% url 'expense_month' %}" class="list-group-item list-group-item-action bg-light">Monthly</a>
                <a href="{% url 'info_year' %}" class="list-group-item list-group-item-action bg-light">Yearly</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-light">Logout</a>
            </div>
            <div class="sidebar-footer text-center">
                Logged in as: {{ user.username }}
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            </nav>

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
     <!-- Footer -->
    <footer>
        <p>Expense Tracker &copy; 2024</p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
