{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Statistics</h2>
    <p>Expense Summary for the Last 30 Days:</p>
    <ul class="list-group">
        <li class="list-group-item">Total Expenses: {{ total_expenses }}</li>
        <li class="list-group-item">Total Income: {{ total_income }}</li>
        <li class="list-group-item">Remaining Savings: {{ remaining_savings }}</li>
        <li class="list-group-item">Amount Over Budget: {{ amount_over_budget }}</li>
    </ul>
</div>
{% endblock %}