{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Statistics</h2>
    <p>Expense Summary for the Last 30 Days:</p>
    <ul class="list-group">
        <li class="list-group-item">Total Expenses: {{ addmoney.sum }}</li>
        <li class="list-group-item">Total Income: {{ addmoney.sum1 }}</li>
        <li class="list-group-item">Remaining Savings: {{ addmoney.x }}</li>
        <li class="list-group-item">Amount Over Budget: {{ addmoney.y }}</li>
    </ul>
</div>
{% endblock %}